@media (max-width: 576px){
    header{
        .container{
            flex-direction: column;
            form{
                 flex-direction: column;
                 margin-top: 15px;
                 select{
                     width: 100%;
                     margin: 5px 0;
                     }
                 input{
                  margin-top: 10px;
                     }
             }
        }
    }
}
